h1, p {
  font-family: Lato;
}

body {
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 50vh;
  margin: -8px;
  padding: 0;
}

.video{
  transform: scaleX(-1);
  position: absolute;
}

.reps{
  position: absolute;
  bottom: 10;
  right: 10;
  font-size: 18;
  font-weight: 900;
  color: green;
}
